@font-face {
  font-family: "silkscreen";
  src: url("https://dl.dropbox.com/s/l0frac4d7bz3zx6/silkscreen.ttf");
}

@keyframes cycle-colors {
  0% {
    color: red;
  }

  50% {
    color: #b80407;
  }

  100% {
    color: red;
  }
}

.aboutMe .header .keyword {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #646cff;
}

.gifs {
  display: flex;
}

.gifs img {
  transition: all 0.5s ease-in-out;
}

.gifs img:hover {
  transform: scale(1.2);
}

.circle {
  display: inline-block;
  width: 10px;
  /* Adjust size of the circle */
  height: 10px;
  /* Adjust size of the circle */
  border-radius: 50%;
  /* Make it circular */
  background-color: #646cff;
  /* Color of the circle */
  margin-right: 5px;
  /* Adjust spacing between circle and text */
}

.speechBubble {
  border-radius: 10px;
}

.demons {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #b80407;
  text-transform: uppercase;
  animation: cycle-colors 1s infinite alternate;
}

@media screen and (min-width: 1401px) {
  .aboutMe {
    display: inline-block;
    font-family: sans-serif;
    color: white;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    border-radius: 40px;
    padding: 70px 0 70px 0;
    width: 70vw;
    height: 50vh;
    text-align: center;
  }

  .aboutMe .main {
    display: inline-flex;
    height: fit-content;
    justify-content: left;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  }

  .tags {
    max-width: 100vw;
    font-size: 1vw;
    text-align: center;
  }

  .aboutMe .header {
    justify-content: left;
    padding: 0 1vw 0 2vw;
    color: black;
    font-size: 2vw;
    text-align: left;
    width: 100%;
  }

  .tags {
    text-align: center;
    color: white;
    width: fit-content;
    position: absolute;
    width: 100%;
    bottom: 5%;
    display: flex;
    justify-content: center;
  }

  .tags p {
    font-size: 2vw;
  }

  .pixelArtDemo {
    display: flex;
    flex-direction: column;
  }

  .speechBubble {
    max-width: 30vw;
    background-color: white;
    color: black;
    padding: 1vw;
    border: #000000 2px solid;
    font-family: silkscreen;
    align-self: center;
  }

  .gifs img {
    width: 15vw;
    height: 30vh;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (max-width: 1400px) and (min-width: 813px) {
  .aboutMe {
    display: inline-block;
    font-family: sans-serif;
    color: white;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    border-radius: 40px;
    padding: 3px;
    width: 90vw;
    height: 70vh;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 5%;
  }

  .aboutMe .header {
    color: black;
    justify-content: left;
    padding: 0 0 0 2vw;
    font-size: 2vw;
    text-align: left;
    width: 100%;
  }

  .aboutMe .header h1 {
    text-align: center;
    justify-content: left;
    font-size: 4.5vw;
  }

  .aboutMe .main {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    align-items: center;
    width: 100%;
    position: absolute;
    right: 0;
    height: fit-content;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  }

  .gifs {
    text-align: center;
    justify-content: center;
  }

  .gifs img {
    width: 15vw;
    height: 25vh;
    text-align: center;
    display: block;
  }

  .pixelArtDemo {
    float: right;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
  }

  .speechBubble {
    max-width: 30vw;
    background-color: white;
    color: black;
    padding: 1vw;
    border: #000000 1px solid;
    border-radius: 30px;
    font-family: silkscreen;
    align-self: center;
  }

  .speechBubble p {
    font-weight: bolder;
  }

  .aboutMe hr {
    display: none;
  }

  .tags {
    text-align: center;
    color: white;
    width: fit-content;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
  }

  .tags p {
    font-size: 2vw;
    text-align: center;
  }
}

@media screen and (max-width: 812px) {
  .aboutMe {
    display: inline-block;
    font-family: sans-serif;
    color: white;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    border-radius: 40px;
    position: fixed;
    align-self: center;
    left: 3vw;
    bottom: 4vh;
    height: 80vh;
    width: 90vw;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .aboutMe .header {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: 40vh;
    color: black;
  }

  .aboutMe .header h1 {
    text-align: center;
    font-size: 12.5vw;
  }

  .aboutMe .main {
    width: 100%;
    display: block;
    height: 90%;
    justify-content: left;
    align-items: center;
    width: 100%;
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  }

  .gifs {
    bottom: 5vh;
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .gifs img {
    width: 30vw;
    height: 15vh;
    text-align: center;
    display: block;
  }

  .pixelArtDemo {
    border-radius: 30px;
    height: 40%;
    position: absolute;
    bottom: 7vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .speechBubble {
    max-width: 75vw;
    background-color: white;
    color: black;
    padding: 2vw;
    border: #000000 1px solid;
    border-radius: 10px;
    font-family: silkscreen;
    align-self: center;
  }

  .speechBubble p {
    font-size: 1.5vh;
    font-weight: bolder;
  }

  .tags {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .tags p {
    font-size: 3vw;
  }

  .circle {
    height: 5px;
    width: 5px;
  }
}
