.aboutMe {
  display: inline-block;
  font-family: sans-serif;
  color: white;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  border-radius: 40px;
  padding: 70px 70px 70px 0px;
  position: absolute;
  right: 8vw;
  top: 10%;
  width: 70vw;
  height: 60vh;
  align-items: center;
}

.main {
  display: inline-flex;
  height: fit-content;
  justify-content: left;
  align-items: center;
}

.tags {
  max-width: 100vw;
  font-size: 1vw;
  text-align: center;
}

.aboutMe .header {
  justify-content: left;
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0 2vw;
  color: black;
  font-size: 2vw;
  text-align: left;
  width: 100%;
}

.aboutMe .header .keyword {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #646cff;
}

.gifs {
  display: flex;
  width: fit-content;
}

.header h1 {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.tags {
  color: white;
  width: fit-content;
  position: absolute;
  right: 15%;
  width: 100%;
  bottom: 0;
  padding: 0 2vw 0 2vw;
  display: flex;
  justify-content: right;
}

.tags p {
  font-size: 2vw;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.circle {
  display: inline-block;
  width: 10px;
  /* Adjust size of the circle */
  height: 10px;
  /* Adjust size of the circle */
  border-radius: 50%;
  /* Make it circular */
  background-color: #646cff;
  /* Color of the circle */
  margin-right: 5px;
  /* Adjust spacing between circle and text */
}

.demons {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #b80407;
  text-transform: uppercase;
  animation: cycle-colors 1s infinite alternate;
}

@keyframes cycle-colors {
  0% {
    color: red;
  }

  50% {
    color: #b80407;
  }

  100% {
    color: red;
  }
}

.pixelArtDemo {
  max-width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pixelArtDemo p {
  font-size: 2vw;
  text-align: center;
}

.gifs img {
  width: 15vw;
  height: 30vh;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.gifs img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 0.5em #d4d5f6aa);
}

@media screen and (max-width: 1400px) and (min-width: 768px) {
  .aboutMe {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    position: fixed;
    align-self: center;
    bottom: 0;
    left: 4vw;
    padding: 1vw;
    height: 50vh;
    width: 80vw;
    padding: 4vw;
    overflow: hidden;
    align-items: center;
    align-content: center;
  }

  .aboutMe .header {
    padding: 3vw;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
    align-items: left;
    align-content: left;
    text-align: left;
    height: 100%;
    width: 100%;
    color: black;
  }

  .aboutMe .header h1 {
    text-align: left;
    justify-content: left;
    font-size: 8vh;
  }

  .aboutMe .main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .gifs {
    text-align: center;
    justify-content: center;
  }

  .gifs img {
    width: 15vw;
    height: 25vh;
    text-align: center;
    display: block;
  }

  .pixelArtDemo {
    max-width: 100%;
    height: 100%;
    display: flex;
    padding: 2vw;
    flex-direction: column;
    border-radius: 30px;
  }

  .pixelArtDemo p {
    justify-content: right;
    text-align: center;
    font-size: 2vw;
  }

  .aboutMe hr {
    display: none;
  }

  .tags {
    position: absolute;
    right: 5%;
    width: fit-content;
    color: white;
    padding: 0 2vw 0 2vw;
  }

  .tags p {
    font-size: 1.5vw;
    text-align: left;
  }
}

@media screen and (max-width: 768px) and (min-width: 250px) {
  .aboutMe {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    position: fixed;
    align-self: center;
    left: 3vw;
    padding: 2vw;
    height: 80vh;
    width: 90vw;
    overflow: hidden;
  }

  .aboutMe .header {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: 50%;
    padding-left: 5vw;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  }

  .aboutMe .header h1 {
    text-align: left;
    font-size: 7vh;
  }

  .aboutMe .main {
    width: 100%;
    display: block;
  }

  .gifs {
    bottom: 5vh;
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .gifs img {
    width: 20vw;
    height: 15vh;
    text-align: center;
    display: block;
  }

  .pixelArtDemo {
 
    height: 40%;
    position: absolute;
    bottom: 7vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .pixelArtDemo p {
    padding-top: 2vh;
    width: 70%;
    font-size: 5vw;
  }

  .tags {
    font-size: 2vw;
    padding: 0 6vw 0 6vw;
  }
}
