.exp {
  font-family: monospace;
  text-align: center;
  border-radius: 40px;
  padding: 60px;
  position: absolute;
  right: 3%;
  top: 15%;
  width: 70vw;
  height: 25vw;
  color: white;
  display: flex;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  
}

.exp h1 {
  text-align: left;
  font-size: 3em;
}

.details {
  max-height: inherit;
  display: flex;
}

.col h2 {
  text-align: center;
  color: whitesmoke;
  font-size: 2em;
}

.resumeDownload {
  display: flex;
  align-items: center;
}

.details .col {
  margin-inline: 2%;
  padding-inline: 2%;
  border-radius: 30px;
  width: 50%;
  background: rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease-in-out;
}

.details .col:hover {
  transform: scale(1.1);
  background-color: #ece9f7;
}

.details .col:hover p,
.details .col:hover h2 {
  color: black;
}

.details .col:hover a {
  color: #3f0f70;
  font-weight: bold;
  text-decoration: underline;
}

.col a {
  color: #646cff;
  text-decoration: none;
}

.col a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.col p {
  text-align: center;
  color: whitesmoke;
  font-size: 1.5em;
}

.highlight {
  font-weight: bold;
  font-style: italic;
}
