.exp {
  font-family: sans-serif;
  text-align: center;
  border-radius: 40px;
  padding: 40px;
  position: absolute;
  right: 3%;
  top: 15%;
  width: 70vw;
  height: 25vw;
  color: white;
  display: flex;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.exp .header {
  display: block;
  max-width: 20vw;
  font-size: 20px;
}

.details {
  height: 50vh;
  display: flex;
}

.col h2 {
  text-align: center;
  color: whitesmoke;
  font-size: 2em;
}

.resumeDownload {
  display: flex;
  align-items: center;
}

.details .col {
  margin-inline: 2%;
  padding-inline: 2%;
  border-radius: 30px;
  width: 50%;
  background: rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease-in-out;
}

.details .col:hover {
  transform: scale(1.1);
  background-color: #ece9f7;
}

.details .col:hover p,
.details .col:hover h2 {
  color: black;
}

.details .col:hover a {
  color: #3f0f70;
  font-weight: bold;
  text-decoration: underline;
}

.col a {
  color: #646cff;
  text-decoration: none;
}

.col a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.col p {
  text-align: center;
  color: whitesmoke;
  font-size: 16px;
}

.highlight {
  font-weight: bold;
  font-style: italic;
}

@media screen and (max-width: 1400px) and (min-width: 768px) {
  .exp {
    position: fixed;
    align-self: center;
    align-items: center;
    align-content: center;
    bottom: 0;
    left: 5%;
    height: 70vh;
    width: 90vw;
    display: block;
    padding: 3px;
    border-top-left-radius: 1px;
  }

  .exp .header h1 {
    text-align: center;
    font-size: 2vw;
  }

  .exp .header {
    gap: 2vw;
    padding-right: 3vw;
    padding-left: 3vw;
    width: fit-content;
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    align-items: center;
    display: flex;
    color: black;
    flex-direction: row;
    max-width: 100%;
    justify-content: left;
    margin-bottom: 3vh;
  }

  .exp .details {
    height: 50vh;
  }

  .col h2 {
    font-size: 20px;
  }

  .col p {
    font-size: 14px;
    overflow: hidden;
  }
}

@media screen and (min-width: 200px) and (max-width: 768px) {
  .exp {
    border-top-left-radius: 1px;
    position: fixed;
    align-self: center;
    bottom: 0;
    left: 2vh;
    height: 80vh;
    width: 90vw;
    display: block;
    padding: 3px;
  }

  .exp .header {
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
    position: absolute;
    border-top-right-radius: 30px;
    top: 0;
    gap: 3vw;
    padding: 1vh;
    margin-bottom: 5vh;
    max-width: 90vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: black;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 3vw;
  }

  .exp .details {
    position: absolute;
    bottom: 15vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }

  .details .col {
    height: 50vh;
    width: 90%;
  }

  .col h2 {
    font-size: 10px;
  }

  .col p {
    font-size: 12px;
    overflow: hidden;
  }
}