.exp {
  background-image: url("../../assets/images/backgrounds/BehindTheMountainsThereIsSomething.png");
  background-size: 100% 100%;
}

.exp .header {
  color: whitesmoke;
  font-family: "silkscreen";
  font-size: 1.5vw;
}

.details .col {
  background: rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
}

.details .col:hover {
  transform: scale(1.1);
  background-color: #ece9f7;
}

.details .col:hover p,
.details .col:hover h2 {
  color: black;
}

.details .col:hover a {
  color: #3f0f70;
  font-weight: bold;
  text-decoration: underline;
}

.col a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.col a {
  color: #646cff;
  text-decoration: none;
}

.highlight {
  font-weight: bold;
  font-style: italic;
}

ul {
  text-align: left;
  line-height: 1.5;
}

@media screen and (min-width: 1401px) {
  .exp {
    font-family: sans-serif;
    text-align: center;
    border-radius: 40px;
    padding: 0 20px 80px 0;
    width: 70vw;
    height: 60vh;
    color: white;
    display: flex;
    flex-direction: column;
  }

  .exp .header {
    font-family: "silkscreen";
    color: whitesmoke;
    text-align: center;
    border-bottom-right-radius: 30px;
    align-items: center;
  }

  .details {
    display: flex;
    align-items: center;
  }

  .col h2 {
    text-align: center;
    color: whitesmoke;
    font-size: 150%;
  }

  .details .col {
    margin-inline: 2%;
    padding-inline: 2%;
    width: 50%;
    height: 100%;
  }

  .col p {
    text-align: center;
    color: whitesmoke;
    font-size: 18px;
  }
}

@media screen and (max-width: 1400px) and (min-width: 813px) {
  .exp {
    font-family: sans-serif;
    text-align: center;
    border-radius: 40px;
    color: white;
    position: fixed;
    align-self: center;
    align-items: center;
    align-content: center;
    bottom: 8%;
    left: 5%;
    height: 70vh;
    width: 90vw;
    display: block;
    padding: 0 3px 3px 3px;
    border-top-left-radius: 1px;
  }

  .exp .header {
    text-align: center;
    border-bottom-right-radius: 30px;
  }

  .exp .details {
    display: flex;
    align-items: center;
    height: 55vh;
  }

  .details .col {
    margin-inline: 2%;
    padding-inline: 2%;
    border-radius: 30px;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease-in-out;
  }

  .col h2 {
    font-size: 150%;
  }

  .col p {
    font-size: 2.5vh;
    overflow: hidden;
  }
}

@media screen and (max-width: 812px) {
  .exp {
    font-family: sans-serif;
    text-align: center;
    border-radius: 40px;
    color: white;

    border-radius: 30px;
    position: fixed;
    align-self: center;
    bottom: 4vh;
    left: 2vh;
    height: 80vh;
    width: 90vw;
    display: block;
    padding: 3px;
  }

  .exp .header {
    position: absolute;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    top: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-family: "silkscreen";
    display: flex;
    flex-direction: row;
    font-size: 14px;
    align-items: center;
    justify-content: center;
  }

  .exp .details {
    position: absolute;
    bottom: 3vh;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
  }

  .details .col {
    height: 50%;
    width: 90%;
    padding-right: 2%;
  }

  .col h2 {
    font-size: 10px;
  }

  .col p {
    font-size: 12px;
    overflow: hidden;
  }
}
