.sideBar {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2% 2% 2% 2%;
  width: fit-content;
  transition: all 0.3s ease-in-out;
}

.sideBar .socials {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.sideBar a {
  text-decoration: none;
  color: #646cff;
  margin: 5% 0%;
  transition: transform 0.3s ease-in-out;
}

.sideBar a:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.logo {
  max-height: 150px;
  max-width: 150px;
  border-radius: 50%;
  will-change: filter;
  transition: filter 300ms;
  margin-bottom: 6vh;
  animation: float 2s infinite;
  filter: drop-shadow(0 0 2em #d4d5f6aa);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.logo:hover {
  filter: drop-shadow(
    0 0 4em rgba(212, 213, 246, 10)
  ); /* Increase the shadow radius */
}

.footer {
  text-align: left;
  position: fixed;
  color: white;
  padding: 2vh;
  border-top: #646cff 1px dashed;
  border-right: #646cff 1px dashed;
  bottom: 0;
  border-top-right-radius: 30px;
}

.copyright {
  font-size: 15px;
  font-family: sans-serif;
}

.copyright .myName {
  font-style: italic;
  font-weight: bold;
}

/* 
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1400px) and (min-width: 768px) {
  .logo {
    margin-bottom: 0;
    max-width: 100px;
  }
  .sideBar {
    transition: all 0.2s ease-in-out;
    display: inline-block;
    width: 100%;
    max-height: 10%;
    margin-inline: 2%;
  }

  .sideBar .socials {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 5vh;
    right: 10vw;
    gap: 10vw;
  }

  .footer {
    display: none;
  }
}

@media screen and (max-width: 768px) and (min-width: 250px) {
  .logo {
    margin-bottom: 0;
    max-width: 50px;
  }

  .sideBar a{
    max-width: 50px;
  }
  .sideBar {
    transition: all 0.2s ease-in-out;
    display: inline-block;
    width: 100%;
    max-height: 10%;
    margin-inline: 2%;
  }

  .sideBar .socials {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    right: 5vw;
    gap: 10vw;
  }

  .footer {
    display: none;
  }
}
