.App {
  display: flex;
  z-index: 1;
}
.loader {
  position: absolute;
  top: 50%;
  right: 45%;
}

.moon {
  top: 2%;
  right: 2%;
  position: absolute;
  z-index: 9999;
}

.box {
  margin-inline: 10%;
}

.sideBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
}
.main {
  width: 70%;
}

h1,
h2,
h3,
h4,
p {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.slide-enter {
  opacity: 0;
  transform: translateY(100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.5s;
}

.slide-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s, transform 0.5s;
}

@media screen and (max-width: 1400px) and (min-width: 813px) {
  .moon {
    display: none;
  }
  .App {
    display: inline-block;
  }
  .sideBar {
    top: 0;
    position: fixed;
    max-height: 20%;
  }

  .main {
    max-height: 80%;
    bottom: 0;
    position: fixed;
  }
}

@media screen and (max-width: 812px) {
  .moon {
    display: none;
  }
  .App {
    display: inline-block;
  }
  .sideBar {
    position: fixed;
    max-height: 20%;
  }

  .main {
    height: 70%;
    width: 100%;
    float: center;
  }
}

