h1,
h2,
h3,
h4,
p {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-enter {
  opacity: 0;
  transform: translateY(100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.5s;
}

.slide-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s, transform 0.5s;
}

.loader {
  position: absolute;
  top: 50%;
  right: 45%;
}

.navInfoAlertLargeScreen {
  display: inline;
}

.navInfoAlertSmallScreen {
  display: none;
}

@media screen and (min-width: 1401px) {
  .App {
    display: flex;
    flex-direction: row;
    z-index: 1;
  }

  .moon {
    top: 2%;
    right: 2%;
    position: absolute;
    z-index: 9999;
  }

  .App .bar {
    position: fixed;
    top: 5%;
    left: 0;
    width: 10%;
    height: 100%;
  }
  .App .everything {
    position: absolute;
    top: 15%;
    right: 10%;
  }
}

@media screen and (max-width: 1400px) and (min-width: 813px) {
  .moon {
    display: none;
  }
  .App {
    display: flex;
    flex-direction: column;
  }

  .App .bar {
    width: 100%;
    top: 0;
    position: fixed;
    max-height: 15%;
  }

  .App .everything {
  }
}

@media screen and (max-width: 812px) {
  .moon {
    display: none;
  }
  .App {
    display: inline-block;
  }
  .App .bar {
    position: fixed;
    max-height: 20%;
  }

  .App .everything {
    height: 70%;
    width: 100%;
    float: center;
  }

  .navInfoAlertLargeScreen {
    display: none;
  }

  .navInfoAlertSmallScreen {
    display: inline;
  }
}
