.App {
  display: flex;
  z-index: 1;
}
.loader{
  position: absolute;
  right: 50%;
}

.moon{
  top: 2%;
  right: 2%;
  position: absolute;
  z-index: 9999;
}

.box {
  margin-inline: 10%;
}

.sideBar {
  position: fixed;
  top: 10%;
  left: 2%;
  text-align: center;
  flex: 0 0 15%;
}
.main {
  padding-left: 10%;
  right: 0;
  display: flex;
  flex: 0 0 70%;
}

h1, h2, h3, h4, p{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


.slide-enter {
  opacity: 0;
  transform: translateY(100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.5s;
}

.slide-exit {
  opacity: 1;
  transform: translateY(0);
}


.slide-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s, transform 0.5s;
}